/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/components/widgets/explore-capabilities.scss ***!
  \******************************************************************************************************************************************************************************************************************************************/
.landing .landing-exploreCapabilities {
  overflow: auto;
}

.landing .landing-exploreCapabilities .pf-v5-l-gallery {
  --pf-v5-l-gallery--GridTemplateColumns--min: 280px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.landing .landing-exploreCapabilities .pf-v5-l-gallery a:hover {
  text-decoration: none;
}

.landing .landing-exploreCapabilities .pf-v5-l-gallery .pf-v5-c-card {
  --pf-v5-c-card--m-selectable-raised--hover--before--BackgroundColor: none;
}

.landing .landing-exploreCapabilities .pf-v5-l-gallery .pf-v5-c-card img {
  height: 36px;
}

.landing .landing-exploreCapabilities .pf-v5-l-gallery .land-c-card__body-explore:hover {
  background-color: var(--pf-v5-global--BackgroundColor--150);
}
