@import '../../common/colors.scss';

.pf-c-page.foreman-theme {
  .pf-c-page__header {
    .pf-c-toolbar {
      background-color: transparent;

      .pf-c-toolbar__item {
        @media (max-width: 1002px) {
          display: none !important;
        }
      }
    }
  }

  .pf-c-page__sidebar {
    background-color: $nav-pf-vertical-secondary-active-bg-color;

    .pf-c-nav > .pf-c-nav__list {
      .pf-c-nav__link {
        color: $nav-pf-vertical-icon-color;

        &::before {
          border-color: $nav-pf-vertical-secondary-active-bg-color;
        }

        &.pf-m-current,
        &:active,
        &:hover {
          background-color: $nav-pf-vertical-active-bg-color;
          color: $nav-pf-vertical-active-icon-color;
        }
      }

      .pf-c-nav__item.pf-m-current > .pf-c-nav__link,
      .pf-c-nav__item > .pf-c-nav__link.pf-m-current {
        background-color: $nav-pf-vertical-active-bg-color;
      }

      .pf-c-nav__item.pf-m-current > .pf-c-nav__link .nav-title-icon {
        color: $nav-pf-vertical-active-icon-color;
      }
    }
  }

  .visible-xs-block {
    display: none !important;

    @media (max-width: 1002px) {
      display: block !important;
    }
  }
}

#account_menu {
  outline: none;
}

#vertical-spinner {
  margin-top: 15px;
  margin-left: 5px;
}

.navbar-header {
  width: 42px;
}

#navbar-header {
  left: 42px;
}

#data-toolbar {
  padding: 0;
  background-color: transparent;
}
